<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- <link rel="shortcut icon" href=""> -->
	
	<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" media="screen" />
	<link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}" media="screen" />
	<link rel="stylesheet" href="{{ asset('css/design.css') }}" media="screen" />

	<title>{% block title %}Ninja Thesaurus{% endblock %}</title>
	
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="{{ asset('js/html5shiv.js') }}"></script>
	<script src="{{ asset('js/respond.min.js') }}"></script>
	<![endif]-->
</head>
<body>
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ path('homepage') }}">Ninja Thesaurus</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="{{ path('word') }}"><span class="glyphicon glyphicon-sort-by-alphabet"></span> Tous les mots</a></li>
					<li><a href="#">Dernières liaisons ajoutées</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="container theme-showcase">
		{% block body %}{% endblock %}
	</div>
	
	<script src="{{ asset('js/bootstrap.min.js') }}"></script>
	{% block javascripts %}{% endblock %}
</body>