{% extends '::base.html.twig' %}

{% block title %}Edit : {{ entity.name }} - {{ parent() }}{% endblock %}

{% block body -%}
    <div class="page-header">
		<h1>Edition du mot : {{ entity.name }}</h1>
	</div>
	
	{{ form(edit_form) }}

	<h2>Actions</h2>
	
	<ul class="list-inline">
        <li><a href="{{ path('word') }}"><span class="btn btn-primary">Revenir à la liste</span></a></li>
        <li>{{ form(delete_form) }}</li>
    </ul>
</ul>
{% endblock %}
