{% extends '::base.html.twig' %}

{% block title %}{{ entity.name }} - {{ parent() }}{% endblock %}

{% block body -%}
    <div class="page-header">
		<h1>Page du mot : {{ entity.name }}</h1>
	</div>
	
	<dl class="dl-horizontal">
		<dt>Id</dt>
		<dd>{{ entity.id }}</dd>
		<dt>Nom</dt>
		<dd>{{ entity.name }}</dd>
		<dt>Description</dt>
		<dd>{{ entity.description }}</dd>
	</dl>
	
	<h2>Actions</h2>
	
	<ul class="list-inline">
        <li><a href="{{ path('word') }}"><span class="btn btn-primary">Revenir à la liste</span></a></li>
        <li><a href="{{ path('word_edit', { 'id': entity.id }) }}"><span class="btn btn-primary">Editer</span></a></li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
